body {
    padding: 3% 0;
}

#background {
    background: url('../img/background.jpg') no-repeat center center fixed !important;
    background-size: cover !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: .4;
}

.center {
    text-align: center;
}

#logo {
    width: 100%;
    max-width: 300px;
}

#info-omschrijving {
    margin: 40px auto;
    width: 70%;
}

#auth-button {
    position: absolute;
    right: 20px;
    top: 20px;
}

#home-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

#info-button {
    position: absolute;
    top: 20px;
    left: 100px;
    font-weight: bold;
}

.float-right {
    margin-left: 7px !important;
}

hr {
    background-color: #000000FF;
    border: 0 none;
    height: 1px;
}